<html>

<head>
  <title>
    <%= title %>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="./src/assets/favicon.ico" type="image/x-icon">
</head>

<body>
  <header class="header can-animate can-animate_origin-bottom">
    <a href="/"><img src="/src/assets/Logo.png" alt="Logo of Coca" class="logo"></a>
    <nav class="header__menu menu can-animate can-animate_origin-left can-animate_hidden-at-first" data-delay="250">
      <ul class="menu-list">
        <li class="menu-list__item menu-item">
          <a href="/" class="menu-list__link link">Home</a>
        </li>
        <li class="menu-list__item menu-item">
          <a href="/about" class="menu-list__link link">About</a>
        </li>
        <li class="menu-list__item menu-item">
          <a href="/blog" class="menu-list__link link">Blog</a>
        </li>
        <li class="menu-list__item menu-item">
          <a href="/pricing" class="menu-list__link link">Pricing</a>
        </li>
        <li class="menu-list__item menu-item">
          <a href="/contacts" class="menu-list__link link link_contacts">Contact Us -></a>
        </li>
      </ul>
    </nav>
    <button class="header__menu-button menu-button button" aria-label="Open menu" id="open-menu"></button>
  </header>
  <section class="section post">
    <h1 class="heading_level-4 heading_desktop-level-1 can-animate can-animate_origin-left can-animate_hidden-at-first" data-delay="250">
      <%= title %>
    </h1>
    <div class="wrapper wrapper_flex wrapper_dir-vertical wrapper_desktop-dir-horizontal post__about can-animate can-animate_origin-left can-animate_hidden-at-first" data-delay="500">
      <div class="post__author-wrapper wrapper_grid">
        <img src="<%= author_photo %>" alt="Author of the post, <%= author %>" class="post__author-photo">
        <div class="wrapper_flex wrapper_dir-vertical post__author-info">
          <span class="post__author-name">
            <%= author %>
          </span>
          <span class="post__author-occupation paragraph_color-gray">
            <%= author_occupation %>
          </span>
        </div>
      </div>
      <div class="post__post-info wrapper_flex">
        <div class="paragraph_color-gray post__time-of-reading">
          <%= time %> to read
        </div>
        <div class="paragraph_color-gray post__date">
          <%= date %>
        </div>
      </div>
    </div>
    <img src="<%= post_image %>" alt="<%= title %>" class="post__image can-animate_origin-right can-animate can-animate_hidden-at-first" data-delay="750">
    <div class="post__content">
      <%- content %>
    </div>
    <div class="post__outro-wrapper wrapper_grid can-animate can-animate_hidden-at-first can-animate_origin-left" data-delay="250">
      <img src="<%= author_photo %>" alt="Author of the post, <%= author %>" class="post__outro-author-photo">
      <div class="wrapper_flex wrapper_dir-vertical post__outro-author-wrapper">
        <span class="paragraph_color-gray text-content_size-large text-content_weight-regular">Written by</span>
        <h3 class="heading_desktop-level-3 heading_level-6 text-content_weight-bold post__author-name">
          <%= author %>
        </h3>
        <span class="post__author-occupation paragraph_color-gray text-content_size-medium">
          <%= author_occupation %>
        </span>
        <p class="post__author-description">
          <%= author_description %>
        </p>
      </div>
    </div>
    <p class="post__author-description">
      <%= author_description %>
    </p>
  </section>
  <div class="backdrop"></div>
  <div class="offcanvas">
    <button class="menu-button button" aria-label="Close menu" id="close-menu"></button>
    <nav class="offcanvas__menu">
      <ul class="offcanvas__menu-list menu-list">
        <li class="menu-list__item menu-item">
          <a href="/" class="menu-list__link link">Home</a>
        </li>
        <li class="menu-list__item menu-item">
          <a href="/about" class="menu-list__link link">About</a>
        </li>
        <li class="menu-list__item menu-item">
          <a href="/blog" class="menu-list__link link">Blog</a>
        </li>
        <li class="menu-list__item menu-item">
          <a href="/pricing" class="menu-list__link link">Pricing</a>
        </li>
        <li class="menu-list__item menu-item">
          <a href="/contacts" class="menu-list__link link">Contact Us</a>
        </li>
      </ul>
    </nav>
  </div>
  <footer class="footer footer_bg-black">
    <div class="content">
      <div class="wrapper wrapper_desktop-dir-horizontal wrapper_grid footer__wrapper">
        <div class="wrapper wrapper_desktop-dir-vertical wrapper_flex">
          <h2 class="heading heading_level-5 heading_desktop-level-2 can-animate can-animate_origin-left">
            Think beyond the wave
          </h2>
          <div class="footer__important-message important-message can-animate can-animate_origin-left" data-delay="250">
            <hr class="highlight">
            <p class="text-content_size-large text-content_weight-bold heading_desktop-level-5">
              Ask about Sans products, pricing, implementation, or anything else. Our highly trained reps are standing
              by,
              ready to help
            </p>
          </div>
        </div>
        <button class="cta-button cta-button_theme-dark text-content_weight-bold can-animate can-animate_hidden-at-first can-animate_origin-left" data-delay="500">Try for free</button>
      </div>
      <div class="wrapper wrapper_desktop-dir-horizontal wrapper_flex footer__info-and-menu-wrapper">
        <div class="footer__company-info wrapper_desktop-dir-vertical wrapper_flex">
          <img src="/src/assets/Logo-dark.png" alt="Logo of Coca" class="footer__logo can-animate can-animate_origin-bottom can-animate_hidden-at-first" data-delay="750">
          <p class="paragraph text-content_size-medium text-content_weight-medium paragraph_color-gray footer__paragraph paragraph_desktop-color-black can-animate_origin-bottom can-animate_hidden-at-first can-animate" data-delay="1000">We built an elegant solution. Our team created a fully integrated sales and marketing
            solution for SMBs</p>
        </div>
        <nav class="footer__menu menu text-content_size-large">
          <ul class="footer__menu-list">
            <li class="footer__menu-title menu-item text-content_weight-bold can-animate can-animate_origin-bottom can-animate_hidden-at-first" data-delay="1250">Company</li>
            <li class="footer__menu-item menu-item can-animate can-animate_origin-bottom can-animate_hidden-at-first" data-delay="1500"><a href="/about" class="footer__menu-link link">About</a></li>
            <li class="footer__menu-item menu-item can-animate can-animate_origin-bottom can-animate_hidden-at-first" data-delay="1750"><a href="/pricing" class="footer__menu-link link">Pricing</a></li>
            <li class="footer__menu-item menu-item can-animate can-animate_origin-bottom can-animate_hidden-at-first" data-delay="2000"><a href="" class="footer__menu-link link">Jobs</a></li>
            <li class="footer__menu-item menu-item can-animate can-animate_origin-bottom can-animate_hidden-at-first" data-delay="2250"><a href="/blog" class="footer__menu-link link">Blog</a></li>
          </ul>
          <ul class="footer_menu-list">
            <li class="footer__menu-title text-content_weight-bold menu-item can-animate can-animate_origin-bottom can-animate_hidden-at-first" data-delay="2500">Product</li>
            <li class="footer__menu-item menu-item can-animate can-animate_origin-bottom can-animate_hidden-at-first" data-delay="2750"><a href="" class="footer__menu-link link">Sales Software</a></li>
            <li class="footer__menu-item menu-item can-animate can-animate_origin-bottom can-animate_hidden-at-first" data-delay="3000"><a href="" class="footer__menu-link link">Marketplace</a></li>
            <li class="footer__menu-item menu-item can-animate can-animate_origin-bottom can-animate_hidden-at-first" data-delay="3250"><a href="" class="footer__menu-link link">Terms & Conditions</a> </li>
            <li class="footer__menu-item menu-item can-animate can-animate_origin-bottom can-animate_hidden-at-first" data-delay="3500"><a href="" class="footer__menu-link link">Privacy Policy</a></li>
          </ul>
          <ul class="footer_menu-list">
            <li class="footer__menu-title text-content_weight-bold menu-item can-animate can-animate_origin-bottom can-animate_hidden-at-first" data-delay="3750">Discover</li>
            <li class="footer__menu-item menu-item can-animate can-animate_origin-bottom can-animate_hidden-at-first" data-delay="4000"><a href="" class="footer__menu-link link">CRM Comparision</a></li>
            <li class="footer__menu-item menu-item can-animate can-animate_origin-bottom can-animate_hidden-at-first" data-delay="4250"><a href="" class="footer__menu-link link">Partner Program</a></li>
            <li class="footer__menu-item menu-item can-animate can-animate_origin-bottom can-animate_hidden-at-first" data-delay="4500"><a href="" class="footer__menu-link link">What is CRM</a></li>
            <li class="footer__menu-item menu-item can-animate can-animate_origin-bottom can-animate_hidden-at-first" data-delay="4750"><a href="" class="footer__menu-link link">Resourse</a></li>
          </ul>
          <ul class="footer_menu-list">
            <li class="footer__menu-title text-content_weight-bold menu-item can-animate can-animate_origin-bottom can-animate_hidden-at-first" data-delay="5000">Help Center</li>
            <li class="footer__menu-item menu-item can-animate can-animate_origin-bottom can-animate_hidden-at-first" data-delay="5250"><a href="" class="footer__menu-link link">Community</a></li>
            <li class="footer__menu-item menu-item can-animate can-animate_origin-bottom can-animate_hidden-at-first" data-delay="5500"><a href="" class="footer__menu-link link">Knowledge Base</a></li>
            <li class="footer__menu-item menu-item can-animate can-animate_origin-bottom can-animate_hidden-at-first" data-delay="5750"><a href="" class="footer__menu-link link">Academy</a></li>
            <li class="footer__menu-item menu-item can-animate can-animate_origin-bottom can-animate_hidden-at-first" data-delay="6000"><a href="" class="footer__menu-link link">Support</a></li>
          </ul>
        </nav>
        <div class="footer__menu_mobile">
          <p class="paragraph_color-gray text-content_size-medium text-content_weight-medium">Privacy Policy</p>
          <p class="paragraph_color-gray text-content_size-medium text-content_weight-medium">Terms & Conditions</p>
          <p class="paragraph_color-gray text-content_size-medium text-content_weight-medium">Support</p>
        </div>
        <hr class="footer__separator">
        <p class="footer__copyright paragraph_color-gray text-content_size-medium text-content_weight-medium">&copy;
          Copyright 2023 All Rights Reserved</p>
      </div>
    </div>
  </footer>
</body>

</html>